@mixin border-spin(
  $border-color,
  $timing,
  $event: focus,
  $color-text: null,
  $color-back: null
) {
  transition: all $timing;

  .border {
    position: absolute;
    width: 0;
    height: 0;
    min-width: 0.8rem;
    min-height: 0.8rem;
    visibility: hidden;
  }

  .bottom {
    border-bottom: 0.2rem solid $border-color;
    bottom: 0;
    right: 0;
  }
  .left {
    border-left: 0.2rem solid $border-color;
    left: 0;
    bottom: 0;
  }
  .top {
    border-top: 0.2rem solid $border-color;
    top: 0;
    left: 0;
  }

  .right {
    border-right: 0.2rem solid $border-color;
    top: 0;
    right: 0;
  }

  &:#{$event} {
    color: $color-text;
    background-color: $color-back;

    .border {
      visibility: visible;
      transition-duration: calc(#{$timing} / 4), calc(#{$timing} / 32), 0s;
    }

    .left,
    .right {
      height: 100%;
    }

    .top,
    .bottom {
      width: 100%;
    }

    .bottom {
      transition-delay: calc(#{$timing} / 4 * 0),
        calc(#{$timing} / 4 * 1 * 0.95), calc(#{$timing} / 4 * 0);
      transition-property: width, border-bottom-left-radius, visibility;
      transition-timing-function: linear;
      border-bottom-left-radius: 0.8rem;
      border-bottom-right-radius: 0.8rem;
    }

    .left {
      transition-delay: calc(#{$timing} / 4 * 1),
        calc(#{$timing} / 4 * 2 * 0.95), calc(#{$timing} / 4 * 1);
      transition-property: height, border-top-left-radius, visibility;
      transition-timing-function: linear;
      border-top-left-radius: 0.8rem;
      border-bottom-left-radius: 0.8rem;
    }

    .top {
      transition-delay: calc(#{$timing} / 4 * 2),
        calc(#{$timing} / 4 * 3 * 0.95), calc(#{$timing} / 4 * 2);
      transition-property: width, border-top-right-radius, visibility;
      transition-timing-function: linear, linear, linear;
      border-top-right-radius: 0.8rem;
      border-top-left-radius: 0.8rem;
    }

    .right {
      transition-delay: calc(#{$timing} / 4 * 3),
        calc(#{$timing} / 4 * 4 * 0.95), calc(#{$timing} / 4 * 3);
      transition-property: height, border-bottom-right-radius, visibility;
      transition-timing-function: linear;
      border-bottom-right-radius: 0.8rem;
      border-top-right-radius: 0.8rem;
    }
  }
}
