// Fontes usadas
$font-family-title: "Poppins";
$font-family-body: "Roboto";

// Titulos
$font-title-h1: 400 3.8rem #{$font-family-title}, sans-serif;
$font-title-h2: 400 3rem #{$font-family-title}, sans-serif;
$font-title-h3: 300 2rem #{$font-family-title}, sans-serif;

// Corpo
$font-body: 400 1.8rem #{$font-family-body}, sans-serif;
$font-body-bold: 700 1.8rem #{$font-family-body}, sans-serif;

// Outros
$font-social: 400 2rem #{$font-family-body}, sans-serif;
$font-button: 500 1.8rem #{$font-family-body}, sans-serif;
$font-input-text: 400 1.8rem #{$font-family-body}, sans-serif;
