@use '../styles/fonts';

.inicio {
  height: 100%;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 8rem;
    min-height: 70rem;
    max-height: 150rem;
    height: 100%;

    > p:first-child {
      font: fonts.$font-title-h3;
    }

    > button {
      margin-top: 3rem;
    }

    h1 {
      display: block;
      cursor: pointer;
      width: fit-content;
      display: block;
      transition: 0.3s;
      margin-bottom: 0.4rem;
      width: fit-content;
      transition: 0.3s;

      @media (any-hover: hover) {
        &:hover {
          color: var(--color-primary-dark);
        }
      }
    }
  }
}
